.get-started-container {
    display: grid;
    padding-top: 1rem;
    padding-bottom: 5rem;
    width: 100%;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}
@media only screen and (max-width: 850px) {
    .get-started-container {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}