.get-started {
    background-color: #34CD9E;
    border-radius: 50px;
    border: none;
    color:#F9F9F9;
    height: 45px;
    width: 250px;
    font-size: 20px;
    font-family: StockifyMain, sans-serif;
    outline: none;
}

@media only screen and (min-width: 1100px) {
.get-started {
    height: 70px;
    width: 220px;
    font-size: 25px;
}
}




