.get-started {
    background-color: #34CD9E;
    border-radius: 50px;
    border: none;
    color:#F9F9F9;
    height: 45px;
    width: 250px;
    font-size: 20px;
    font-family: StockifyMain, sans-serif;
    outline: none;
}

@media only screen and (max-width: 1100px) {
    .get-started {
        height:45px;
        width: 200px;
        font-size: 25px;
    }
}







