.get-started {
    background-color: #34CD9E;
    border-radius: 50px;
    border: none;
    color:#F9F9F9;
    height: 65px;
    width: 300px;
    font-size: 20px;
    font-family: StockifyMain, sans-serif;
    outline: none;
}

@media only screen and (min-width: 1200px) {
    .get-started {
        height:55px;
        width: 260px;
        font-size: 25px;
    }
}
@media only screen and (max-width: 1200px) {
    .get-started {
        height:40px;
        width: 220px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .get-started {
        height:55px;
        width: 260px;
        font-size: 25px;
    }
}






