.accordion {

}

.accordion__item + .accordion__item {
}

.accordion__item {
    border-radius: 12px;
    background-color: #f4f4f4;
    width: 100%;
    margin-bottom: 1rem;
}

.accordion__heading {
    width: 100%;
}

.accordion__button {
    font-family: StockifySecondary, sans-serif;
    font-weight: 700;
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 12px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.accordion__item:hover {
    background-color: #f1f1f1;
}
.accordion__button:hover {
    background-color: #f1f1f1;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 11px;
    width: 11px;
    margin-right: 12px;
    border-bottom: 4px solid #34CD9E;
    border-right: 4px solid #34CD9E;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    font-family: StockifySecondary, sans-serif;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    animation: fadein 0.5s ease-in;
    border-radius: 12px;
    padding-left: 3rem;

}

.answer-para {
    line-height: 1.5rem;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}