.grid-container-adress {
    color: #898989;
    font-family: StockifySecondary, sans-serif;
    font-weight: 700;
    line-height: 2rem;
}


@media only screen and (max-width: 650px) {
    .grid-container-adress {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}