.TextInSec {
    font-family: StockifySecondary, sans-serif;
    color: #898989;
    font-weight: 700;
    line-height: 2rem;
}

.textSection {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 650px) {
    .TextInSec {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}