@font-face {
    font-family: 'StockifySecondary';
    src: local('StockifySecondary'), url(../../assets/fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
    font-family: "StockifySecondaryBold";
    src: local("StockifySecondaryBold"), url(../../assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}
#root {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailinput {
    width: 100%;
    border-radius: 50px;
    border: none;
    box-shadow: 1.50px 0 3px 1.5px #ccc;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: StockifySecondaryBold, sans-serif;
    min-height: 65px;
    outline: none;

}

.mailform {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:1.5rem;
    width: 100%;
    padding-bottom: 1.25rem;
}


.normal_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section:before {

}

.section {
    width:100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: max(2rem, 60px);
    padding-bottom: max(2rem, 60px);
}

.cta-container {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.hero-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.hero-text {
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hero-img {
    max-width: 100%;
    min-width: 300px;
}


.button-group-desktop {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1.5rem;
}

.btn-holder-desktop {
    padding-right: 1.5rem;
}

@media only screen and (max-width: 1200px) {
    .mailinput {
        height: 40px;
    }
}


@media only screen and (max-width: 992px) {
    .mailform {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .mailinput {
        height: 55px;
        font-size: 1rem;
    }
    .button-group-desktop {
        display: none;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 3rem;
        padding-left: 3rem;
        max-width: 100%
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
    .hero-img {
        max-width: 100%;
        min-width: 300px;
    }
    .cta-container {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-group-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }
    .btn-holder-mobile {
        padding-right: 0.5rem;
        padding-left:0.5rem;
    }





}

@media only screen and (max-width: 650px) {
    .container {
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
    }
    .section {
        padding-top: max(0.5rem,60px);
        padding-bottom: max(60px, 0.5rem);
    }

    .cta-container {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-group-mobile {
        width: 100%;
        display: block;

    }

    .button-group-desktop {
        display: none;
    }


    .btn-holder-mobile {
        width: auto;
        padding: 0.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .hero-img {
        max-width: 100%;
        min-width: 290px;
    }

    .hero-text {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .heading-holder {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }

}
