.get-started-item {
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.75rem;
}



.todo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5rem;
    max-height: 120px;
}

.step-heading {
    text-align: center;
    font-family: StockifyMain, sans-serif;
    color: #3F414E;
    font-size: 25px;
    padding-bottom: 0.75rem;

}

.step-subheading {
    color: #898989;
    font-family: StockifySecondary, sans-serif;
    font-weight: 200;
    text-align: center;
    min-height: 45px;

}